.ebookDownloadWrapper {
  background-color: #202A49;
  border-radius: 1rem;
  text-align: center;
}

.ebookDownloadContent {
  width: 60%;
  margin: 0 auto;
  padding: 7rem 0;
}

.ebookDownloadContent h3 {
  font-weight: 400;
  color: #ECEDEF;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.ebookDownloadContent p {
  color: #CDCFD3;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.ebookForm input {
  width: 100%;
  background-color: #364266;
  border: 0;
  padding: 2rem 1rem;
  border-radius: 5px;
  color: #ECEDEF;
  font-size: 1.4rem;
}

.ebookForm {
  position: relative;
}

.ebookForm input::placeholder {
  color: #CACDD5;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.ebookForm button {
  position: absolute;
  top: 0.43rem;
  right: 0.3rem;
  padding: 1rem 3rem;
  background-color: #ECEDEF;
  color: #202A49;
  font-size: 1.8rem;
  font-weight: 500;
}
